<article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/post/{{id}}" class="links">{{name}}</a>
            </div>
            <div class="created-by">
                <p id="commentby">
                    Crereated by <b>{{user.name}} </b> on <b>{{format_date}}</b>
                </p>
            </div>
        </div>
        <div class="details-section">
            <p>{{details}}</p>
        </div>
    </div>
</article>